Solutions for Python Basic Assignment - 1
****************************************

In [ ]:
1 Ans: 
	Strings >    'hello'
	values >    -87.8 , 6
	expressions >   *, -, /, +

In [ ]:
2 Ans: 
	difference between string and variable:

	String - A String is a set of characters with in double quotes.
        In python every user input will be treated as a string unless it is typecasted.

	Variable - A Variable can be considered as a container or data pointer in which the 
        location of a Data can be stored irrespective of its data type. 
        A variable can be reused, manipulated.

In [ ]:
3 Ans: 
    3 Different types of Data: 
	1. Numeric - In this Data type, Data will be in the form of integers, float and complex numbers
	2.Sequence - In this Data type, Data will be in the form of strings, list and tuple
	3.Boolean - In this Data type, Data will be in the form of True(1) and False(0)

In [ ]:
4 Ans:
	An expression is a combination of variables, operators, values and function 
    which can be written as a statement in programming. 
    An expression used to evaluate and produce a value as a result.

In [ ]:
5 Ans:
	-An expression is made up of variables, operators, values and function to 
        carryout an evaluation and produce or return a result as a value.
	-A statement is a smallest executable unit of code. 
        An expression can be called as a statment when minimum required combination 
        of variables, operators, values and function is used.

In [ ]:
6 Ans:
    > bacon = 22
    > bacon + 1
	o/p> value of bacon will be 23

In [ ]:
7 Ans:
	the values of the following two terms will be:

	> 'spam'+'spamspam'
     o/p> spamspamspam
        
	> 'spam' * 3
     o/p> spamspamspam

In [ ]:
8 Ans:
	Why is eggs a valid variable name while 100 is invalid - 
    Because thats a rule in python programming that a variable name should not be started 
    with numerical symbols or alphanumeric charaters except (. and _)

In [ ]:
9 Ans:
	int(), float() and str() are the three functions can be used to get the integer, floating-point number, or string
    version of a value. This process is called typecasting.

In [ ]:
10 Ans:
    'I have eaten ' + 99 + ' burritos.' 
	This expression will cause an error because in python we cannot concatinate(join)
    integer with string. If concatinating integer is important then it can be done by typecasting.