Python MySql assignment -2
**************

Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [12]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [13]:
cursor.execute('use test_data')

In [21]:
cursor.execute('select first_name from worker limit 3')
cursor.fetchall()

[('Monika',), ('Niharika',), ('Vishal',)]

***

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [30]:
cursor.execute('SELECT POSITION("A" IN first_name) FROM worker WHERE first_name = "Amitabh"')
cursor.fetchall()

[(1,)]

***

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [34]:
cursor.execute('SELECT department, MAX(SALARY) FROM worker GROUP BY department;')
cursor.fetchall()

[('HR', 300000.0), ('Admin', 500000.0), ('Account', 200000.0)]