Python MySql assignment - 9
**************

Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [75]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [76]:
cursor.execute('use test_data')

In [105]:
# q = '''SELECT worker.Worker_id, worker.First_name, worker.Last_name, worker.salary, worker.Joining_date, worker.Department, worker.email FROM worker  inner join worker_copy using (first_name)'''
q = 'select * from worker limit 3'
cursor.execute(q)
# cursor.fetchall()
for i in cursor:
    print(i)

(1, 'Monika', 'Arora', 100000.0, '2014-02-20 09:00:00', 'HR', 'abcd123@gmail.com')
(2, 'Niharika', 'Verma', 80000.0, '2014-06-11 09:00:00', 'Admin', 'cherry4top@hotmail.com')
(3, 'Vishal', 'Singhal', 300000.0, '2014-02-20 09:00:00', 'HR', '007jamesbond@yahoo.com')

***

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [130]:
q = '''select distinct salary from worker 
        order by salary desc
        
        '''
cursor.execute(q)
# cursor.fetchall()
print('Salaries in descending order\n--------------------')
for i in cursor: print(i)

Salaries in descending order
--------------------
(500000.0,)
(300000.0,)
(200000.0,)
(100000.0,)
(90000.0,)
(80000.0,)
(75000.0,)

In [134]:
q = '''select distinct salary from worker 
        order by salary desc
        limit 4,1
        '''
cursor.execute(q)
# cursor.fetchall()
print('5th highest Salary\n--------------------')
for i in cursor: print(i)

5th highest Salary
--------------------
(90000.0,)

***