Python MySql assignment - 5
**************

Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [15]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [3]:
cursor.execute('use test_data')

In [5]:
cursor.execute('select * from worker where first_name not in("Vipul","Satish")')
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000.0, '2014-02-20 09:00:00', 'HR'),
 (2, 'Niharika', 'Verma', 80000.0, '2014-06-11 09:00:00', 'Admin'),
 (3, 'Vishal', 'Singhal', 300000.0, '2014-02-20 09:00:00', 'HR'),
 (4, 'Amitabh', 'Singh', 500000.0, '2014-02-20 09:00:00', 'Admin'),
 (5, 'Vivek', 'Bhati', 500000.0, '2014-06-11 09:00:00', 'Admin'),
 (8, 'Geetika', 'Chauhan', 90000.0, '2014-04-11 09:00:00', 'Admin')]

***

Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [13]:
cursor.execute('SELECT first_name FROM worker where first_name like ("%h") and length(first_name)=6')
cursor.fetchall()

[('Satish',)]

***

Q-3. Write a query to validate Email of Employee.

In [19]:
cursor.execute('SELECT email FROM worker where email like "%@%.___"')
cursor.fetchall()

[('abcd123@gmail.com',),
 ('cherry4top@hotmail.com',),
 ('007jamesbond@yahoo.com',),
 ('mysql@gmail.com',),
 ('143lovelearning@gmail.com',),
 ('Sqlismylove@hotmail.com',),
 ('easydatabase@yahoo.com',),
 ('dbms@gmail.com',)]