Python MySql assignment - 7
**************

Q-13. Write an SQL query to show only odd rows from a table.

In [46]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [47]:
cursor.execute('use test_data')

In [41]:
q = '''SELECT * 
FROM worker 
WHERE mod(worker_id,2) <> 0;'''

cursor.execute(q)
cursor.fetchall()

[(1,
  'Monika',
  'Arora',
  100000.0,
  '2014-02-20 09:00:00',
  'HR',
  'abcd123@gmail.com'),
 (3,
  'Vishal',
  'Singhal',
  300000.0,
  '2014-02-20 09:00:00',
  'HR',
  '007jamesbond@yahoo.com'),
 (5,
  'Vivek',
  'Bhati',
  500000.0,
  '2014-06-11 09:00:00',
  'Admin',
  '143lovelearning@gmail.com'),
 (7,
  'Satish',
  'Kumar',
  75000.0,
  '2014-01-20 09:00:00',
  'Account',
  'easydatabase@yahoo.com')]

***


Q-14. Write an SQL query to clone a new table from another table.

In [60]:
cursor.execute('CREATE TABLE worker_copy select * from worker;')

In [62]:
q = 'select * from worker_copy' 
cursor.execute(q)
cursor.fetchall()

[(1,
  'Monika',
  'Arora',
  100000.0,
  '2014-02-20 09:00:00',
  'HR',
  'abcd123@gmail.com'),
 (2,
  'Niharika',
  'Verma',
  80000.0,
  '2014-06-11 09:00:00',
  'Admin',
  'cherry4top@hotmail.com'),
 (3,
  'Vishal',
  'Singhal',
  300000.0,
  '2014-02-20 09:00:00',
  'HR',
  '007jamesbond@yahoo.com'),
 (4,
  'Amitabh',
  'Singh',
  500000.0,
  '2014-02-20 09:00:00',
  'Admin',
  'mysql@gmail.com'),
 (5,
  'Vivek',
  'Bhati',
  500000.0,
  '2014-06-11 09:00:00',
  'Admin',
  '143lovelearning@gmail.com'),
 (6,
  'Vipul',
  'Diwan',
  200000.0,
  '2014-06-11 09:00:00',
  'Account',
  'Sqlismylove@hotmail.com'),
 (7,
  'Satish',
  'Kumar',
  75000.0,
  '2014-01-20 09:00:00',
  'Account',
  'easydatabase@yahoo.com'),
 (8,
  'Geetika',
  'Chauhan',
  90000.0,
  '2014-04-11 09:00:00',
  'Admin',
  'dbms@gmail.com')]

***