Python MySql assignment -3
**************

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [12]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [13]:
cursor.execute('use test_data')

In [38]:
cursor.execute('select rtrim(first_name) from worker')
cursor.fetchall()

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

***

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [46]:
cursor.execute('SELECT distinct department, length(department) FROM worker')
cursor.fetchall()

[('HR', 2), ('Admin', 5), ('Account', 7)]

***

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [52]:
cursor.execute('SELECT MAX(SALARY) FROM worker;')
cursor.fetchall()

[(500000.0,)]