Python MySql assignment - 8
**************

Q-15. Write an SQL query to fetch intersecting records of two tables.

In [75]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [76]:
cursor.execute('use test_data')

In [92]:
q = '''SELECT worker.Worker_id, worker.First_name, worker.Last_name, worker.salary, worker.Joining_date, worker.Department, worker.email FROM worker  inner join worker_copy using (first_name)'''

cursor.execute(q)
# cursor.fetchall()
for i in cursor:
    print(i)

(1, 'Monika', 'Arora', 100000.0, '2014-02-20 09:00:00', 'HR', 'abcd123@gmail.com')
(2, 'Niharika', 'Verma', 80000.0, '2014-06-11 09:00:00', 'Admin', 'cherry4top@hotmail.com')
(3, 'Vishal', 'Singhal', 300000.0, '2014-02-20 09:00:00', 'HR', '007jamesbond@yahoo.com')
(4, 'Amitabh', 'Singh', 500000.0, '2014-02-20 09:00:00', 'Admin', 'mysql@gmail.com')

***


Q-16. Write an SQL query to show records from one table that another table does not have.

In [102]:
q = '''SELECT worker.Worker_id, worker.First_name, worker.Last_name, worker.salary, worker.Joining_date, worker.Department, worker.email 
        FROM worker
        where worker.first_name not in (select first_name from worker_copy) '''
cursor.execute(q)
# cursor.fetchall()
for i in cursor: print(i)

(5, 'Vivek', 'Bhati', 500000.0, '2014-06-11 09:00:00', 'Admin', '143lovelearning@gmail.com')
(6, 'Vipul', 'Diwan', 200000.0, '2014-06-11 09:00:00', 'Account', 'Sqlismylove@hotmail.com')
(7, 'Satish', 'Kumar', 75000.0, '2014-01-20 09:00:00', 'Account', 'easydatabase@yahoo.com')
(8, 'Geetika', 'Chauhan', 90000.0, '2014-04-11 09:00:00', 'Admin', 'dbms@gmail.com')

***