Python MySql assignment -4
**************

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [12]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [13]:
cursor.execute('use test_data')

In [55]:
cursor.execute('select first_name,replace(first_name,"a","A") from worker')
cursor.fetchall()

[('Monika', 'MonikA'),
 ('Niharika', 'NihArikA'),
 ('Vishal', 'VishAl'),
 ('Amitabh', 'AmitAbh'),
 ('Vivek', 'Vivek'),
 ('Vipul', 'Vipul'),
 ('Satish', 'SAtish'),
 ('Geetika', 'GeetikA')]

***

Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [66]:
cursor.execute('SELECT * FROM worker order by first_name asc, department desc')
cursor.fetchall()

[(4, 'Amitabh', 'Singh', 500000.0, '2014-02-20 09:00:00', 'Admin'),
 (8, 'Geetika', 'Chauhan', 90000.0, '2014-04-11 09:00:00', 'Admin'),
 (1, 'Monika', 'Arora', 100000.0, '2014-02-20 09:00:00', 'HR'),
 (2, 'Niharika', 'Verma', 80000.0, '2014-06-11 09:00:00', 'Admin'),
 (7, 'Satish', 'Kumar', 75000.0, '2014-01-20 09:00:00', 'Account'),
 (6, 'Vipul', 'Diwan', 200000.0, '2014-06-11 09:00:00', 'Account'),
 (3, 'Vishal', 'Singhal', 300000.0, '2014-02-20 09:00:00', 'HR'),
 (5, 'Vivek', 'Bhati', 500000.0, '2014-06-11 09:00:00', 'Admin')]

***

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [73]:
cursor.execute('SELECT first_name,salary FROM worker where salary = (select max(salary) from worker)')
cursor.fetchall()

[('Amitabh', 500000.0), ('Vivek', 500000.0)]