Python MySql assignment -1
**************

Q-1. Write an SQL query to fetch “FIRST_NAME” from workers table using the alias name as <WORKER_NAME>.

In [12]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [13]:
cursor.execute('use test_data')

In [14]:
cursor.execute('select first_name as Worker_name from worker')
cursor.fetchall()

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

***

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from workers table.

In [16]:
cursor.execute('select distinct department from worker')
cursor.fetchall()

[('HR',), ('Admin',), ('Account',)]

***

Q-3. Write an SQL query to show the last 5 record from a table.

In [20]:
cursor.execute('SELECT * FROM worker order by worker_id desc limit 5')
cursor.fetchall()

[(8, 'Geetika', 'Chauhan', 90000.0, '2014-04-11 09:00:00', 'Admin'),
 (7, 'Satish', 'Kumar', 75000.0, '2014-01-20 09:00:00', 'Account'),
 (6, 'Vipul', 'Diwan', 200000.0, '2014-06-11 09:00:00', 'Account'),
 (5, 'Vivek', 'Bhati', 500000.0, '2014-06-11 09:00:00', 'Admin'),
 (4, 'Amitabh', 'Singh', 500000.0, '2014-02-20 09:00:00', 'Admin')]