Python MySql assignment - 10
**************

Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [75]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='myroot')
cursor = mydb.cursor(buffered=True)

In [76]:
cursor.execute('use test_data')

In [138]:
q = '''select distinct salary from worker 
        order by salary desc
        
        '''
cursor.execute(q)
# cursor.fetchall()
print('Salaries in descending order\n--------------------')
for i in cursor: print(i)

Salaries in descending order
--------------------
(500000.0,)
(300000.0,)
(200000.0,)
(100000.0,)
(90000.0,)
(80000.0,)
(75000.0,)

In [139]:
q = '''select distinct salary from worker 
        order by salary desc
        limit 4,1
        '''
cursor.execute(q)
# cursor.fetchall()
print('5th highest Salary\n--------------------')
for i in cursor: print(i)

5th highest Salary
--------------------
(90000.0,)

***

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [145]:
q = '''select W1.First_name, W1.salary 
        from worker W1 , worker W2
       where W1.salary = W2.salary and W1.First_name <> W2.First_name
        '''
cursor.execute(q)
# cursor.fetchall()
print('5th highest Salary\n--------------------')
for i in cursor: print(i)

5th highest Salary
--------------------
('Vivek', 500000.0)
('Amitabh', 500000.0)

***